<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/HarryCordewener/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<!-- Short lived PAT that just gives read-access to my nuget repos. -->
			<add key="Username" value="HarryCordewener" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>