.character-gallery-widget {
    container-type: inline-size;
}

@container (max-width: 48rem) {
    .character-gallery-widget ::deep .mud-grid-item-sm-4 {
        max-width: 50%;
        flex-basis: 50%;
    }
}
