@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<MudText>
    <AuthorizeView>
        <Authorized>
            Hello, @context.User.Identity?.Name!
            <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
        </Authorized>
        <NotAuthorized>
            <MudButton Href="authentication/login">Log In</MudButton>
        </NotAuthorized>
    </AuthorizeView>
</MudText>

@code{

    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

}