@page "/counter"
@inject IStringLocalizer<SharedResource> Loc

<PageTitle>@Loc["Counter"]</PageTitle>

<h1>@Loc["Counter"]</h1>

<p role="status">@string.Format(Loc["CurrentCount"], currentCount)</p>

<MudButton class="btn btn-primary" @onclick="IncrementCount">@Loc["ClickMe"]</MudButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}