@inherits LayoutComponentBase
@layout MainLayout
@using SharpMUSH.Client.Components

<div class="config-shell">
    <aside class="config-section-nav">
        <ConfigNavDrawer />
    </aside>
    <div class="config-section-body">
        @Body
    </div>
</div>
